* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
    height: 100vh;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #000;
    
}

svg.name {
    width: 1400px;
    z-index: 10;
}

svg.name path {
    stroke-width: 3;
    stroke: #fff;
}

button.btn {
    border: none;
    background: transparent;
    font-size: 50px;
    color: #fff;
    border-bottom: 10px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
}

.anime-wrap {
    position: absolute;
    z-index: 0;
}



svg.circle path {
    stroke: yellow;
    stroke-width: 3;
    fill: transparent;
    opacity: 0;
}

.ico {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -100px;
    width: 15px;
    height: 15px;
    background: yellow;
    opacity: 0;
    border-radius: 999px;
}